<main class="Site-content">
  <div class="container panel-body">
    <div class="col-md-12 container-fluid row">

      <div class="container col-md-6">

          <h1 class="user-category-1">Followers</h1>

        <% @user.followers.each do |follower| %>
        <div class="panel panel-default panel-body user-white-box">
          <div class="col-sm-4 col-md-4">
            <img src= <%= follower.img %> class = "user-img"/>
          </div>

            <h3><%= link_to follower.visible_name, user_path(follower) %></h3>
            <h4><%=follower.role %></h4>
            <p><%= follower.bio %></p>

        </div>
        <% end %>
      </div>

      <div class="container col-md-6">

          <h1 class="user-category-1">People I Follow</h1>

        <% @user.followed_users.each do |user| %>
        <div class="panel panel-default panel-body user-white-box">
         <div class="col-sm-4 col-md-4">
            <img src= <%= user.img %> class = "user-img"/>
          </div>

            <h3><%= link_to user.visible_name, user_path(user) %></h3>
           <h4><%= user.role %></h4>
           <p><%= user.bio %></p>

        </div>
        <% end %>
      </div>

    </div>
  </div>
</main>
