<main class="Site-content">
  <div class="container">
    <div class="container-fluid row">

      <div class="col-md-4">
        <div class="panel panel-default categories text-right">
          <h2><%= link_to @user.visible_name, user_path(@user) %></h2>
          <h3 class= "#followers"><a class = "following-sort-button" href= "#"><%=@user.followers.length%> followers</a></h3>
          <h3 class ="#followed_users"><a class = "following-sort-button" href= "#"><%=@user.followed_users.length%> following</a></h3>
        </div>
      </div>


      <div class="row container-fluid col-md-8 sorted-following-list">
        <div id="followers" class= "sorted-following active">
          <% if @user.followers.length == 0 %>
            <% if logged_in? && @user == current_user %>
              <div class="container">
                <h3>You have no followers. Check out these users!</h3>
              </div>

              <div class="col-md-6">
                <% suggested_following[0...suggested_following.length/2].each do |user| %>
                  <%= render '/users/index_show', user: user %>
                <% end %>
              </div>

              <div class="col-md-6">
                <% suggested_following[suggested_following.length/2..-1].each do |user| %>
                  <%= render '/users/index_show', user: user %>
                <% end %>
              </div>
            <% else %>
              <div class="container">
                <h3><%= @user.visible_name %> has no followers.</h3>
              </div>
            <%end%>
          <% else %>
            <div class="col-md-6">
              <% @user.followers[0...@user.followers.length/2].each do |follower| %>
                <%= render '/users/index_show', user: follower %>
              <% end %>
            </div>
            <div class="col-md-6">
              <% @user.followers[@user.followers.length/2..-1].each do |follower| %>
                <%= render '/users/index_show', user: follower %>
              <% end %>
            </div>
          <% end %>
        </div>

      <div id="followed_users" class= "sorted-following hidden">
        <% if @user.followed_users.length == 0 %>
            <div class="container">
              <h3><%=@user.visible_name%> is not following anyone.</h3>
            </div>
        <% else %>
        <div class="col-md-6">
          <% @user.followed_users[0...@user.followed_users.length/2].each do |user| %>
            <%= render '/users/index_show', user: user %>
          <% end %>
        </div>
        <div class="col-md-6">
          <% @user.followed_users[@user.followed_users.length/2..-1].each do |user| %>
            <%= render '/users/index_show', user: user %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  </div>
</main>
