<main class="Site-content">
<div class="container">

  <div class="row">
    <div class="col-md-6 pull-right">
      <div class="panel-body">
        <h1>Sign In</h1>
      </div>
      <%= render partial: 'shared/error_messages', locals: { object: @user } %>
      <div class="username-box col-md-12">
        <%= form_for :login do |f| %>
          <div class="row-xs-3 form_group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div><br>

          <div class="row-xs-3 form_group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <br>
           <%= f.submit "Sign In", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="button-container">
          <h1><%= link_to "Sign In with Github", '/auth/github', class: "btn btn-success custom-button" %></h1>
          <h1><%= link_to "Sign In with Dribbble", dribbble_request_path, class: "btn btn-success custom-button" %></h1>
      </div>
    </div>
  </div>
</div>
</main>
