<div class="col-md-8">
  <h2 class="message-category-2">Messages with <%=link_to receiver.visible_name, user_path(receiver) %></h2>
</div>

<span id= "messages-box">
  <% messages.each do |message| %>
    <%= render 'individual_message', layout:false, message: message %>
  <% end %>
</span>

<div id= "message-form">
  <%= form_for(@message, url: inbox_message_path(conversation)) do |f| %>
    <div class="col-md-8 message-field">
      <div class="panel panel-default ">
        <%= f.text_area :body, autofocus: true, class: "form-control body-input", style: "min-width: 100%",   placeholder: "type your message here"
         %>
      </div>
      <%= f.submit "Send", class: 'btn btn-primary btn-lg' %>
    <% end %>
    </div>
</div>






