<h1><%= @reciever.visible_name %></h1>
<ul>
  <% @messages.each do |message| %>
  <li><%= message.body %> -- <%= message.user.visible_name %> </li>
<% end %>
</ul>

<%= form_for(@message, url: inbox_message_path(@conversation)) do |f| %>
<%= f.label :body %>
<%= f.text_area :body %>
<%= f.submit "Send" %>
<% end %>
