<div class="col-md-8">
<h2>messages with <%= @reciever.visible_name %></h2>
</div>
<ul>
  <% @messages.each do |message| %>
  <div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel body">
      <div class="message-body">
    <%= message.body %> -- <%= message.user.visible_name %>
  </div>
  </div>
</div>
</div>
  <% end %>
    <%= form_for(@message, url: inbox_message_path(@conversation)) do |f| %>

  <div class="col-md-8">
  <div class="panel panel-default">
      <%= f.text_area :body, autofocus: true, class: "form-control", style: "min-width: 100%", placeholder: "type your message here"
       %>



</div>
<%= f.submit "Send", class: 'btn btn-primary btn-lg' %>
</div>
  <% end %>

</ul>



