<%= render partial: 'shared/navbar_opaque' %>

<main class ="site-content">
  <div class= "container">
    <h1>Send a message to <%= @reciever.visible_name %></h1>

    <%= form_for @message, url: {controller: 'conversations', action: 'inbox'} do |f| %>
    <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, autofocus: true, class: 'form-control'%>
</div>
    <%= f.hidden_field :sender_id, value: current_user.id %>
    <%= f.hidden_field :recipient_id, value: @reciever.id %>
    <%= f.submit "Send", class: 'btn btn-primary btn-lg' %>
    <% end %>

  </div>
</main>


# can't edit who you send message to
# inbox with
 # new message
 # side bar with people youve sent to , can click and see your messages
 # when you click new message on user show page, taken to current user's inbox .. on new message with username filled out
