<%= form_for @user do |f| %>
  <%= render partial: 'shared/error_messages', locals: { object: @user } %>

 <%= f.label :first_name %>
 <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>

 <%= f.label :last_name %>
 <%= f.text_field :last_name, class: 'form-control' %>

 <%= f.label :bio %>
 <%= f.text_area :bio, class: 'form-control' %>

 <%= f.label :email %>
 <%=f.text_field :email, class: 'form-control' %>

 <%= f.label :password %><br />
 <%= f.password_field :password, class: 'form-control' %>


  <div class="field">
    <%= f.label 'I am a...' %>
    <%= radio_button_tag :role, 'developer', :checked => true %>
    <%= label_tag :role, 'Developer' %>
    <%= radio_button_tag :role, 'designer' %>
    <%= label_tag :role, 'Designer' %>
  </div>

 <%= f.submit %>
<%end%>
