<%= render partial: 'shared/navbar_transparent' %>

<main class="Site-content">
<div class="container panel-body">

<div class="col-md-12 container-fluid row">
  <div class="col-md-3">
    <div class="panel panel-default panel-body">
      <img src=<%= @user.img %> width="100%">
    </div>
  </div>

  <div class="row container-fluid">
    <div class="col-md-5">
      <div class="panel panel-default panel-body">
          <h1><%= @user.visible_name %></h1>
          <% if @user.role == "admin" %>
            <h3><%= link_to "Developer", users_path %></h3>
          <% else  %>
            <h3><%= link_to @user.role.capitalize, users_path %></h3>
          <% end %>
          <% if logged_in? && @user == current_user %>
            <h3><%= link_to "Edit Profile", edit_user_path(@user) %></h3>
          <% end %>
      </div>
    </div>

    <div class="panel panel-default col-md-4">
      <div class="panel-body">
        <h4><%= @user.projects.length %> Current Projects</h4>
        <h4><%= @user.text_rating %></h4>
        <% if logged_in? && @user != current_user %>
          <%= link_to "Send Chat", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.id, "data-rip" => @user.id, "data-im" => "chat" %>

          <%= form_for(@conversation) do |f| %>
          <%= f.hidden_field :sender_id, value: current_user.id %>
          <%= f.hidden_field :recipient_id, value: @user.id %>
          <%= f.hidden_field :conversation_type, value: "inbox_message" %>
          <%= f.submit "Send Message", class: "btn btn-success btn-xs start-mail-conversation"%>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="panel-body col-md-8">
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  <% if @user.github || @user.dribbble %>
    <div class="panel panel-default panel-body">
      <% if current_user && current_user == @user %>
        <div class="col-md-12">
          <% if @user.github %>
            <h4>Github: <%= link_to "Projects", @user.github_url %></h4>
          <% elsif @user.github.nil? %>
            <h4>Github: <%= link_to "Connect", "/auth/github?user_id=#{@user.id}" %></h4>
          <% end %>
        </div>
        <div class="col-md-12">
          <% if @user.dribbble %>
            <h4>Dribbble: <%= link_to "Projects", @user.dribbble_url %></h4>
          <% elsif @user.dribbble.nil? %>
            <h4>Dribbble: <%= link_to "Connect", user_dribbble_oauth_request_path(user_id: @user.id) %></h4>
          <% end %>
        </div>
      <% end %>

      <% if (current_user && current_user != @user && @user.github) || (!logged_in? && @user.github)%>
        <div class="col-md-12">
            <h4>Github: <%= link_to "Projects", @user.github_url %></h4>
        </div>
      <% end %>

      <% if (current_user && current_user != @user && @user.dribbble) || (!logged_in? && @user.dribbble)%>
        <div class="col-md-12">
          <h4>Dribbble: <%= link_to "Projects", @user.dribbble_url %></h4>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <h3>Skills</h3>
        </div>
        <div class="col-md-1 panel-body">
          <% if logged_in? && @user == current_user %>
            <h4><%= link_to "add", new_skill_path %></h4>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% @user.skills.each do |skill| %>
          <p><%= link_to skill.body, skill_path(skill)%></p>
        <% end %>
      </div>
    </div>
  </div>

  </div>



  <div class="col-md-9">
    <% if @user.projects.length > 0 %>
    <div class="panel-body panel panel-default">
      <h2>Seeking Collaborators</h2>
    </div>

      <% @user.projects.each do |project| %>
        <%= render partial: "/projects/index_show", locals: { project: project } %>
      <% end %>
    <% end %>

    <% if @user.reviews.length > 0 %>
      <div class="panel panel-default">
        <div class="panel-body">
        <h2>Reviews</h2>
          <%if logged_in? && current_user != @user %>
            <%=link_to 'Leave a Review', new_review_path(params:{user_id: @user.id})  %>
          <%end%>

          <% @user.reviews.each do |review| %>
            <p><%review.rating.times do %> &#9734; <%end%> | <%=review.body.capitalize%> |
              <% if review.reviewer == current_user %>
                <%= link_to 'edit', edit_review_path(params:{id: review.id})%>
              <% end %></p>
          <% end %>
        </div>
      </div>
    <%end%>

    <% if current_user && current_user != @user %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Leave a review</h3>
          <%= render partial: "/reviews/form", locals: { review: @review } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>

</div>

</main>
