<main class="Site-content">
<div class="container panel-body">

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default panel-body">
      <div class="img-container">
        <img src=<%= @user.img %> />
      </div>
    </div>


    <div class="panel panel-default panel-body">
      <div class="col-md-12">
        <h4><%= @user.followers.length %><%= link_to " followers", followings_path(id: @user.id), class: "link-color" %></h4>
        <h4><%= @user.followed_users.length %><%= link_to " following", followings_path(id: @user.id), class: "link-color" %><h4>

        <% if logged_in? && @user != current_user%>
          <% if !is_following?(@user) %>
            <%= link_to "Follow", followings_path(id: @user.id), method: :post, class: "link-color" %>
          <% else %>
            <%= link_to "Unfollow", following_path(Following.find_or_create_by(followed_user_id: @user.id, follower_id: current_user.id), id: @user.id), method: :delete, class: "link-color"%>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @user.github || @user.dribbble || current_user == @user %>
    <div class="panel panel-default panel-body">
      <% if current_user && current_user == @user %>
        <div class="col-md-7"><h4>Github</h4></div>
        <div class="col-md-2">
          <% if @user.github %>
            <h4 class="link-color"><%= link_to "projects", @user.github_url, class: "link-color" %></h4>
          <% else %>
            <h4 class="link-color"><%= link_to "connect", "/auth/github?user_id=#{@user.id}", class: "link-color" %></h4>
          <% end %>
        </div>

        <div class="col-md-7"><h4>Dribbble</h4></div>
        <div class="col-md-2">
          <% if @user.dribbble %>
            <h4 class="link-color"><%= link_to "projects", @user.dribbble_url, class: "link-color" %></h4>
          <% else %>
            <h4 class="link-color"><%= link_to "connect", user_dribbble_oauth_request_path(user_id: @user.id), class: "link-color" %></h4>
          <% end %>
        </div>
      <% end %>

      <% if (current_user && current_user != @user && @user.github) || (!logged_in? && @user.github)%>
        <div class="col-md-12">
            <h4>Github <%= link_to "projects", @user.github_url, class: "link-color" %></h4>
        </div>
      <% end %>

      <% if (current_user && current_user != @user && @user.dribbble) || (!logged_in? && @user.dribbble)%>
        <div class="col-md-12">
          <h4>Dribbble <%= link_to "projects", @user.dribbble_url, class: "link-color"%></h4>
        </div>
      <% end %>
    </div>
    <% end %>

    <% if @user.skills.length > 0 || current_user == @user %>
    <div class="panel panel-default panel-body">
      <div class="col-md-8">
        <h4>Skills</h4>
      </div>
      <div class="col-md-1">
        <% if logged_in? && @user == current_user %>
          <h4 class="link-color" id= "new-skill"><%= link_to "add", new_skill_path, class: "link-color" %></h4>
        <% end %>
      </div>

      <span id = "skill-div">
      <% @user.skills.each do |skill| %>
      <div class= "col-md-12" id= "skill-list">
        <p class="link-color"><%= render "/skills/individual_skill", skill: skill %></p>
      </span>
    </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="col-md-9 custom-project-header">
    <div class="col-md-7 panel-body custom-project-header custom-user-header">
      <h1 class="custom-project-header padding-bottom"><%= @user.visible_name %></h1>
      <h3 class="link-color custom-user-header"><%= link_to @user.role.capitalize, users_path %></h3>
      <% if logged_in? && @user == current_user %>
        <p class="link-color"><%= link_to "Edit Profile", edit_user_path(@user) %></p>
      <% end %>
        <p><%= @user.bio %></p>
    </div>

    <div class="col-md-5">
      <div class="text-right">
        <h4><%= current_projects(@user) %></h4>
        <% if @user.avg_star_rating == 0 %>
            <h4><%@user.avg_star_rating.times do %> &#9734; <%end%></h4>
        <% end %>

        <% if logged_in? && @user != current_user %>
          <% if any_inbox_messages_with?(@user) %>
            <%= link_to "Send Chat", "#", class: "btn btn-success btn-xs small-custom start-conversation", "data-sid" => current_user.id, "data-rip" => @user.id, "data-im" => "chat" %>
            <% end %>

          <%= form_for(@conversation) do |f| %>
          <%= f.hidden_field :sender_id, value: current_user.id %>
          <%= f.hidden_field :receiver_id, value: @user.id %>
          <%= f.hidden_field :conversation_type, value: "inbox_message" %>
          <%= f.submit "Send Message", class: "btn btn-success btn-xs  small-custom start-mail-conversation"%>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-12">
      <% if @user.projects.length > 0 %>
        <div class="custom-user-header padding-bottom">
          <h2>Seeking Collaborators On:</h2>
        </div>
        <% @user.projects.each do |project| %>
          <%= render partial: "/projects/index_show", locals: { project: project } %>
        <% end %>
      <% end %>

    <% if current_user == @user && @user.reviews.length == 0 %>
      <%if logged_in? && current_user != @user %>
        <h2>Reviews</h2>
        <span id="new-review-link"><%=link_to 'Leave a Review', new_review_path(user_id: @user.id)  %></span>
      <%end%>

      <div id= "review-list">
      <% if @user.reviews.length > 0 %>
          <% @user.reviews.each do |review| %>
              <%= render "/reviews/individual_review", review: review %>
          <% end %>
      <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>

</div>
</main>
