<main class="Site-content">

  <div class="container">
     <% if user_signed_in? && @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
        <p><%=link_to 'Favorited projects', favorites_path %>
          <% end %>

    <div class = "avg-rating">
      <% if @user.avg_star_rating != 0 %>
      <h4>Average Rating: <%= @user.avg_star_rating %> Stars</h4>
      <% end %>
    </div>

    <%= link_to "Send Chat", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.id, "data-rip" => @user.id %>


    <%= link_to "Send Message", {action: 'mail', controller: 'conversations',sender_id: current_user.id, recipient_id: @user.id}, class: "btn btn-success btn-xs start-mail-conversation" %>

    <div class="user-img">
      <img src=<%= @user.image %> >
    </div>

    <div class="container">
      <div class="box">
        <h1><%= @user.visible_name %></h1>
        <h3><%= @user.email %></h3>
        <p>Role: <%= @user.role.capitalize %></p>

        <p>Bio: <%= @user.bio %></p>

        <div class ="skills">
        <h3>Skills</h3>
        <ul><% @user.skills.each do |skill| %>
          <li><%= link_to skill.body, skill_path(skill)%></li>
          <% end %>
          <% if user_signed_in? && @user == current_user %>
            <%= link_to "Add Skill", new_skill_path %>
          <% end %>
        </ul>
      </div>

        <div class="users-posted-projects">
          <h3>Seeking Collaborators on...</h3>
        <ul><% @user.projects.each do |project| %>
          <li><%= link_to project.title, project_path(project)%></li>
          <% end %>
        </ul>

          <h3>Reviews</h3>
        <%if user_signed_in? && !(current_user.id == @user.id)%>
        <%=link_to 'Leave a Review', new_review_path(params:{user_id: @user.id})  %>
          <%end%>
          <% if @user.reviews %>
          <% @user.reviews.each do |review| %>
          <p><%=review.rating%> stars | <%=review.body.capitalize%> | <% if review.reviewer == current_user %> <%= link_to 'edit', edit_review_path(params:{id: review.id})%> <% end %></p>
          <% end %>
          <%end%>
      </div>
    </div>


  </div>
</main>
