<main class="Site-content">
<div class="container-fluid">
<div class="container">
  <div class = "avg-rating">
    <% if @user.avg_star_rating != 0 %>
    <h4>Average Rating: <%= @user.avg_star_rating %> Stars</h4>
    <% end %>
  </div>

  <div class="col-md-4">
    <div class="user-img">
      <img src=<%= @user.img %> width="200x200">
    </div>

      <% if logged_in? && @user == current_user %>
        <p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
        <p><%=link_to 'Favorited projects', favorites_path %></p>
      <% elsif logged_in? && @user != current_user %>
        <%= link_to "Send Chat", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.id, "data-rip" => @user.id %>

        <%= link_to "Send Message", {action: 'create', controller: 'conversations', sender_id: current_user.id, recipient_id: @user.id, inbox_message: true }, method: :post, class: "btn btn-success btn-xs start-mail-conversation" %>


      <% end %>

    <h3>Skills</h3>
    <ul>
      <% @user.skills.each do |skill| %>
        <li><%= link_to skill.body, skill_path(skill)%></li>
      <% end %>

      <% if logged_in? && @user == current_user %>
        <%= link_to "Add Skill", new_skill_path %>
      <% end %>
    </ul>
  </div>


  <div class="col-md-8">
    <h1><%= @user.visible_name %></h1>
    <h3><%= @user.email %></h3>
    <p><%= @user.role.capitalize %></p>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Bio: </h3>
        <p><%= @user.bio %></p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Seeking Collaborators on...</h3>
        <ul><% @user.projects.each do |project| %>
          <li><%= link_to project.title, project_path(project)%></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
      <h3>Reviews</h3>
        <%if logged_in? && !(current_user.id == @user.id)%>
          <%=link_to 'Leave a Review', new_review_path(params:{user_id: @user.id})  %>
        <%end%>

        <% if @user.reviews %>
          <% @user.reviews.each do |review| %>
            <p><%=review.rating%> stars | <%=review.body.capitalize%> |
              <% if review.reviewer == current_user %>
              <%= link_to 'edit', edit_review_path(params:{id: review.id})%>
              <% end %></p>
          <% end %>
        <%end%>
      </div>
    </div>
</div>
</div>
</div>

</main>
