<main class="Site-content">

  <div class="container">
     <% if user_signed_in? && @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
        <p><%=link_to 'Favorited projects', favorite_path %>
          <% end %>

    <div class = "avg-rating">
      <% if @user.avg_star_rating != 0 %>
      <h4>Average Rating: <%= @user.avg_star_rating %> Stars</h4>
      <% end %>
    </div>

    <div class="user-img">
      <img src=<%= @user.image %> >
    </div>

    <div class="container">
      <div class="box">
        <h1><%= @user.visible_name %></h1>
        <h3><%= @user.email %></h3>
        <p>Role: <%= @user.role.capitalize %></p>

        <p>Bio: <%= @user.bio %></p>

        <div class ="skills">
        <h3>Skills</h3>
        <ul><% @user.skills.each do |skill| %>
          <li><%= link_to skill.body, skill_path(skill)%></li>
          <% end %>
          <% if user_signed_in? && @user == current_user %>
            <%= link_to "Add Skill", new_skill_path %>
          <% end %>
        </ul>
      </div>

        <div class="users-posted-projects">
          <h3>Seeking Collaborators on...</h3>
        <ul><% @user.projects.each do |project| %>
          <li><%= link_to project.title, project_path(project)%></li>
          <% end %>
        </ul>


        <p><%=link_to 'Favorited projects', favorite_path %></p>

          <h3>Reviews</h3>
        <%if user_signed_in? && !(current_user.id === @user.id)%>
        <%=link_to 'Leave a Review', new_review_path(params:{user_id: @user.id})  %>
          <%end%>
          <% @user.reviews.each do |review| %>
          <p><%=review.rating%> stars | <%=review.body.capitalize%> | <%= link_to 'edit', edit_review_path(params:{id: review.id})%></p>

          <%end%>
      </div>
    </div>


  </div>
</main>
