<main class="Site-content">

  <div class="container">
    <div class="user-img">
      <img src=<%= @user.image %> >
    </div>

    <div class="container">
      <div class="box">
        <h1><%= @user.email %></h1>
        <p>Role: <%= @user.role.capitalize %></p>

        <h3>Skills</h3>
        <ul><% @user.skills.each do |skill| %>
          <li><%= link_to skill.body, skill_path(skill)%></li>
          <% end %>
          <%= link_to "Add Skill", new_skill_path %>
        </ul>

        <p><%=link_to 'Favorited projects', favorite_path %>

      </div>
    </div>


  </div>
</main>
