<div id = "new-skill-form">
<%= form_for @skill do |f| %>
 <%= f.label :body, "Enter skills as a comma separated list"%><br>
 <%= f.text_field :body, autofocus: true %>

 <%= f.hidden_field :user_id, value: current_user.id %>
 <%= f.submit %>
<%end%>
</div>