<%= render partial: 'shared/navbar_opaque' %>
<main class="Site-content">
<div class="container">

<h1>Set Your Email and Password</h1>

<%= render partial: 'shared/error_messages', locals: { object: @user } %>
<div class="username-box">
  <%= form_for :user, url: { action: 'password' } do |f| %>
    <% if @user.github %>
      <%= hidden_field_tag :first_name, @user.first_name %>
      <%= hidden_field_tag :last_name, @user.last_name %>
      <%= hidden_field_tag :role, "developer" %>
      <%= hidden_field_tag :bio, @user.bio %>
      <%= hidden_field_tag :img, @user.img %>
      <%= hidden_field_tag :github_uid, @user.github_uid %>
      <%= hidden_field_tag :github, "github" %>
      <%= hidden_field_tag :github_url, @user.github_url %>
    <% else %>
      <%= hidden_field_tag :first_name, @user.first_name %>
      <%= hidden_field_tag :last_name, @user.last_name %>
      <%= hidden_field_tag :role, "designer" %>
      <%= hidden_field_tag :bio, @user.bio %>
      <%= hidden_field_tag :img, @user.img %>
      <%= hidden_field_tag :dribbble_uid, @user.dribbble_uid %>
      <%= hidden_field_tag :dribbble, "dribbble" %>
      <%= hidden_field_tag :dribbble_url, @user.dribbble_url %>
    <% end %>

    <div class="row-xs-3 form_group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="row-xs-3 form_group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control'  %>
    </div>

    <%= f.submit "Finish Registration", class: "btn btn-success" %>

  <% end %>
  <br>

</div>
</div>
</main>
