<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-2 col-md-2">
        <img src= <%= project.img %> class="img-responsive project-img">
      </div>

      <div class="col-xs-10 col-md-10">
       <h3><%=link_to project.title, project_path(project)%></h3>
       <p><%= project.tagline %></p>

       <div class="row">
         <div class="col-xs-8 col-md-8">
           <% if current_user && project.user == current_user %>
             <%=link_to 'edit', edit_project_path(project) %>
           <%end%>
           <h4><%=link_to project.user.visible_name, user_path(project.user) %> <%= project.user.role %></h4>
         </div>

         <div class="col-xs-2 col-md-2 pull-right">
           <div class="right">
             <h4><%= project.favorites.length %>
                <% if current_user && current_user.has_favorited(project) %>
                  <%= link_to image_tag("heart-red.png"), delete_favorite_path(project_id: project.id, user_id: current_user.id) %>
                <% elsif current_user %>
                  <%= link_to image_tag("heart-grey.png"), new_favorite_path(project_id: project.id, user_id: current_user.id) %>
                <% end %>
             </h4>
           </div>
         </div>
         <div class="col-xs-2 col-md-2">
       <div class="right">
         <h4><% if (current_user.id == project.user_id && project.flagged) || current_user.has_flagged?(project)  %>
             <%=link_to image_tag("flag-red.png"),projects_flag_path(project_id: project.id) %>
             <% else %>
             <%=link_to image_tag("flag-grey.png"),projects_flag_path(project_id: project.id) %>
             <%end%>
         </h4>
       </div>
     </div>
      </div>
   </div>
  </div>
</div>
</div>
