<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
    <div class="col-xs-3 col-md-3">
      <img src= <%= project.img %> class="img-responsive project-img">
    </div>

    <div class="col-xs-8 col-md-8">
     <h3><%=link_to project.title, project_path(project)%></h3>
     <p><%= project.tagline %></p>
    </div>

     <div class="col-xs-3 col-md-8">
       <h4><%=link_to project.user.visible_name, user_path(project.user) %> <%= project.user.role %></h4>
     </div>

     <div class="col-xs-3 col-md-3">
       <p>expiring<br> <%= project.date %></p>
     </div>

     <div class="col-xs-3 col-md-3">
       <h5><%= project.favorites.length %>
          <% if current_user && current_user.has_favorited(project) %>
            <%= link_to "&#9829;", delete_favorite_path(project_id: project.id, user_id: current_user.id) %>
          <% elsif current_user %>
            <%= link_to "&#9829;", new_favorite_path(project_id: project.id, user_id: current_user.id) %>
          <% end %>
       </h5>
     </div>

   <% if current_user && project.user.id == current_user.id %>
     <%=link_to 'edit', edit_project_path(project) %>
   <%end%>
  </div>
</div>
</div>
