<div class="panel panel-default panel-body strong-projects">
  <div>
    <img src= <%= project.img %> class="img-thumbnail img-responsive" width="100%">
  </div>

  <div class="col-md-10 no-margin">
    <h3><%=link_to project.title, project_path(project)%></h3>
  </div>

  <div class="col-md-2 no-margin top-padded">
     <h4><%= project.favorites.length %>
      <% if current_user && current_user.has_favorited(project) %>
        <%= link_to image_tag("heart-red.png", class: 'heart'), delete_favorite_path(project_id: project.id, user_id: current_user.id) %>
      <% elsif current_user %>
        <%= link_to image_tag("heart-grey.png", class: 'heart'), new_favorite_path(project_id: project.id, user_id: current_user.id) %>
      <% else %>
        <%= image_tag("heart-grey.png", class: 'heart') %>
      <% end %>
     </h4>
  </div>

  <div class="col-xs-12 col-md-12 no-margin">
   <p><b><%= project.tagline %></b></p>
   <p class="text-justify"><%= project.blurb %></p>
  </div>

  <div class="col-md-6 no-margin">
    <p><%= link_to project.user.visible_name, user_path(project.user) %></p>
  </div>

  <div class="col-md-2">
    <% if current_user && project.user == current_user %>
     <%=link_to 'edit', edit_project_path(project) %>
    <%end%>
  </div>

  <div class="col-md-4 no-margin">
    <p><i>posted <%= project.created_at.strftime("%m/%d/%Y") %></i></p>
  </div>

</div>
