<div class="panel panel-default strong-projects">
  <div class="panel-body project-box">
    <div class="row">
      <div class="col-xs-3 col-md-3">
        <img src= <%= project.img %> class="img-thumbnail">
      </div>

      <div class="col-xs-9 col-md-9">
       <h2 class="custom-project-header"><%=link_to project.title, project_path(project)%></h2>
       <p><b><%= project.tagline %></b></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p><%= project.blurb %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-md-3">
          <% if current_user && current_user.has_favorited(project) %>
            <%= render "/favorites/red_heart", layout: false, project: project %>
          <% elsif current_user %>
            <%= render "/favorites/grey_heart", layout: false, project: project %>
          <% else %>
            <%= image_tag("heart-grey.png") %>
          <% end %>
      </div>
      <div class="col-md-6">
        <h4>posted <%= project.created_at.strftime("%m/%d/%Y") %></h4>
      </div>
      <% if current_user && project.user == current_user %>
        <div class="col-md-3">
          <%=link_to 'edit', edit_project_path(project) %>
        </div>
      <%end%>
    </div>
   </div>
  </div>
