<%= render partial: 'shared/navbar_opaque' %>

<main class="Site-content">
<div class="wrapper">
<div class="row">
<div class="col-md-2 left">
  <div class="container navigation">
    <div class="col-md-3 left">
      <form class="input-group" action="/search" method="post">
        <input type="text" name="body" class="form-control" placeholder="Search tagged posts...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </form>
    </div>
    <h2>Recent</h2>
    <h2>Expiring</h2>
    <h2>Developers</h2>
    <h2>Designers</h2>
  </ul>
</div>
</div>

<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class = "most-recent-project">
       <h1 class = "title">Most Recent Projects</h1>
         <% most_recent.each do |project| %>
          <%= render partial: "index_show", locals: { project: project } %>
         <%end%>
      </div>

      <div class = "projects-by-developers">
       <h1 class = "title">Projects Posted By Developers</h1>
         <% posted_by_developers.each do |project| %>
           <%= render partial: "index_show", locals: { project: project } %>
         <% end %>
      </div>

     <h1 class = "title">Projects Posted By Designers</h1>
       <div class = "projects-by-designers">

         <% posted_by_designers.each do |project| %>
           <%= render partial: "index_show", locals: { project: project } %>
         <% end %>
      </div>

       <h1 class = "title">Projects Expiring Soon</h1>
        <div class = "expiring-soon">
           <% expiring_soon.each do |project| %>
             <%= render partial: "index_show", locals: { project: project } %>
             <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</main>
