<div class="projects-index">
<%= render partial: 'shared/navbar_transparent' %>
  <main class="Site-content">
    <div class="container panel-body">
      <div class="col-md-12 container-fluid row">
        <div class="container col-md-3">
          <%= render partial: "tag_search" %>
          <div class="panel panel-default panel-body">
            <h3 class= "#recent"><a class = "project-sort-button" href= "#">Recent</a></h3>
            <h3 class ="#expiring"><a class = "project-sort-button" href= "#">Expiring</a></h3>
            <h3 class = "#developers"><a class = "project-sort-button developers" href= "#">Developers</a></h3>
            <h3 class ="#designers"><a class = "project-sort-button" href= "#">Designers</a></h3>
          </div>
        </div>

        <div class="row container-fluid col-md-9 sorted-projects-list">
          <%= render partial: "most_recent_projects", locals: { project: @project } %>
          <%= render partial: "developer_projects", locals: { project: @project } %>
          <%= render partial: "designer_projects", locals: { project: @project } %>
          <%= render partial: "expiring_projects", locals: { project: @project } %>
        </div>
      </div>
    </div>
  </main>
</div>
