<main class="Site-content">
    <div class="container-fluid row">
      <div class="col-md-2">
        <div class="panel panel-default panel-body categories">
          <% if logged_in? %>
            <h3 id = "new-project-link" class ="#new"><%= link_to "new project", new_project_path %></h3>
          <% end %>
          <h3 class= "#recent"><a class = "project-sort-button" href= "#">recent</a></h3>
          <h3 class ="#expiring"><a class = "project-sort-button" href= "#">expiring</a></h3>
          <h3 class = "#developers"><a class = "project-sort-button developers" href= "#">developers</a></h3>
          <h3 class ="#designers"><a class = "project-sort-button" href= "#">designers</a></h3>
          <%= render partial: "tag_search" %>
        </div>
      </div>

      <div class="row container-fluid col-md-10 sorted-projects-list ">
        <%= render partial: "most_recent_projects", locals: { project: @project } %>
        <%= render partial: "developer_projects", locals: { project: @project } %>
        <%= render partial: "designer_projects", locals: { project: @project } %>
        <%= render partial: "expiring_projects", locals: { project: @project } %>
      </div>
    </div>
</main>
