<main class="Site-content"><div class="container">

<div class = "projects-list">

</div>

<div class = "most-recent-project">
 <h1 class = "title">Most Recent Projects</h1>
 <ul>
   <% most_recent.each do |project| %>
     <h3><%=link_to project.title, project_path(project)%></h3>
     <h4>posted by: <%= project.user.visible_name %> (<%= project.user.role %>)</h4>
     <h5><%= project.tagline %></h5>
     <h5><%= project.expiration %></h5>
     <h5><%= project.description %></h5>
     <% if current_user && project.user.id == current_user.id %>
       <%=link_to 'edit', edit_project_path(project)%>
       <%end%>
   <% end %>
 </ul>
</div>

<div class = "projects-by-developers">
 <h1 class = "title">Projects Posted By Developers</h1>
 <ul>
   <% posted_by_developers.each do |project| %>
     <h3><%= project.title %></h3>
     <h4>posted by: <%= project.user.visible_name %> (<%= project.user.role %>)</h4>
     <h5><%= project.tagline %></h5>
     <h5><%= project.expiration %></h5>
       <h5><%= project.description %></h5>
           <% if user_signed_in? && project.user.id == current_user.id %>
       <%=link_to 'edit', edit_project_path(project)%>
       <%end%>
   <% end %>
 </ul>
</div>

<div class = "projects-by-designers">
 <h1 class = "title">Projects Posted By Designers</h1>
 <ul>
   <% posted_by_designers.each do |project| %>
     <h3><%= project.title %></h3>
     <h4>posted by: <%= project.user.visible_name %> (<%= project.user.role %>)</h4>
     <h5><%= project.tagline %></h5>
     <h5><%= project.expiration %></h5>
     <h5><%= project.description %></h5>
        <% if user_signed_in? && project.user.id == current_user.id %>
       <%=link_to 'edit', edit_project_path(project)%>
       <%end%>
   <% end %>
 </ul>
</div>

<div class = "expiring-soon">
 <h1 class = "title">Projects Expiring Soon</h1>
 <ul>
   <% expiring_soon.each do |project| %>
     <h3><%= project.title %></h3>
     <h4>posted by: <%= project.user.visible_name %> (<%= project.user.role %>)</h4>
     <h5><%= project.tagline %></h5>
     <h5><%= project.expiration %></h5>
     <h5><%= project.description %></h5>
         <% if user_signed_in? && project.user.id == current_user.id %>
       <%=link_to 'edit', edit_project_path(project)%>
       <%end%>
   <% end %>
 </ul>
</div>

</div>
</main>