<div class="projects-index">
<%= render partial: 'shared/navbar_transparent' %>

<main class="Site-content">
<div class="container panel-body">
<div class="col-md-12 container-fluid row">
  <div class="container col-md-3">
    <div class="panel panel-default panel-body">
      <h3>Search by tags</h3>
      <form class="input-group" action="/search" method="post">
        <input type="text" name="body" class="form-control" placeholder="Tags...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </form>
    </div>

    <div class="panel panel-default panel-body">
      <h3><a href="#recent">Recent</a></h3>
      <h3><a href="#expiring">Expiring</a></h3>
      <h3><a href="#developers">Developers</a></h3>
      <h3><a href="#designers">Designers</a></h3>
    </div>
  </div>

  <div class="row container-fluid col-md-9">
    <div id="recent">
      <div class="panel panel-default">
        <h1 class="title panel-body">Most Recent Projects</h1>
      </div>
       <% most_recent.each do |project| %>
        <%= render partial: "index_show", locals: { project: project } %>
       <%end%>
     </div>

     <div id="developers">
       <div class="panel panel-default">
         <h1 class = "title">Projects Posted By Developers</h1>
       </div>
       <% posted_by_developers.each do |project| %>
         <%= render partial: "index_show", locals: { project: project } %>
       <% end %>
     </div>

     <div id="designers">
       <div class="panel panel-default">
         <h1 class = "title">Projects Posted By Designers</h1>
       </div>
       <% posted_by_designers.each do |project| %>
         <%= render partial: "index_show", locals: { project: project } %>
       <% end %>
     </div>

     <div id="expiring">
       <div class="panel panel-default">
         <h1 class = "title">Projects Expiring Soon</h1>
       </div>
       <% expiring_soon.each do |project| %>
         <%= render partial: "index_show", locals: { project: project } %>
        <% end %>
     </div>
   </div>
 </div>
 </div>
</main>
</div>
