<main class="Site-content">

<div class="container-fluid project-box">

  <%if current_user && @project.user.id == current_user.id %>
    <%=link_to 'edit | ', edit_project_path(@project) %>
  <%end%>
  <%= link_to 'back to projects', projects_path %>


<div class="container panel-body">
<div class="row">
  <div class="panel panel-default panel-body col-md-3">
  <img src= <%=@project.img%> class="img-responsive project-img">
</div>

<div class="row container-fluid">
  <%if current_user && @project.user.id == current_user.id %>
    <%=link_to 'edit | ', edit_project_path(@project) %>
  <%end%>
    <div class="panel-body col-md-8">
  <h1><%= @project.title.capitalize %></h1>

  <h3><%= @project.tagline%></h3>

 <h4>Created by: <%= link_to @project.user.visible_name, user_path(@project.user) %></h4>
 <p>Expires: <%=@project.date%></p>
 <% if current_user && current_user.has_favorited(@project) %>
                  <%= render "/favorites/red_heart", layout: false, project: @project %>
                <% elsif current_user %>
                  <%= render "/favorites/grey_heart", layout: false, project: @project %>
                <% end %>
              </h4>
</div>



         <h4><% if current_user %>
                <% if (current_user == @project.user) && @project.is_flagged %>
                  Reported
                <%elsif @project.is_flagged %>
                  <%if current_user.id == @project.is_flagged.user_id %>
                    <%= render "unreport", layout: false, project: @project %>
                  <%else%>
                   <%= render "report", layout: false, project: @project %>
                  <%end%>
                <% elsif current_user != @project.user %>
                  <%= render "report", layout: false, project: @project %>
                <%end%>
              <%end%>
         </h4>



  <div class="panel panel-default panel-body col-md-11">
  <h4>Description:</h4>
  <p><%=@project.description%></p>
  </div>
</div>

<div id="tags">
  <h4>Tags:</h4>
  <% @project.tags.each do |tag| %>
    #<%= link_to tag.body, tag_path(tag) %>
  <% end %>
</div>

</div>

</div>
</main>
