<main class="Site-content">

<div class="container">
  <%if current_user && @project.user.id === current_user.id %>
    <%=link_to 'edit | ', edit_project_path(@project) %>
  <%end%>

<%=link_to 'back to projects', projects_path%>
<div id="project-header">
  <h1><%= @project.title.capitalize %></h1>
  <img src= <%=@project.img%> class="img-responsive project-img">
  <h3>Status: <%= @project.tagline%></h3>
</div>

<div id="project-data">
 <h3>posted by: <%=@project.user.visible_name %></h3>
 <h3>expires: <%=@project.expiration%></h3>
 <h3>likes: <%=@project.favorites.length%></h3>
</div>

<div id="project-description">
  <h4>Description:</h4>
  <p><%=@project.description%></p>
</div>

<div id="tags">
  <h4>Tags:</h4>
  <% @project.tags.each do |tag| %>
    #<%= link_to tag.body, tag_path(tag) %>
  <% end %>
</div>

</div>
</main>