<%=form_for @review do |f| %>

<%= f.label :rating %>
<%= f.number_field :rating %>

<%= f.label :body, "Leave a Review"%>
<%= f.text_area :body %>

<%= f.hidden_field :user_id, value: @user.id %>
<%= f.submit %>
<%end%>

<% if @review.reviewer %>
<p> <%= link_to "Delete Review", review_path(Review.find_by(user_id: params[:id])), method: :delete %> </p>
<% end %>