<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= logged_in? ? current_user.id : "" %>' name='user-id'/>

  <link href='https://fonts.googleapis.com/css?family=Dosis|Lato|Muli|Averia+Serif+Libre' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic' rel='stylesheet' type='text/css'>
  <title>MakeTogether</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="Site">
  <nav class="navbar custom-transparent frontnav">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">MakeTogether</a>
      </div>

      <ul class="nav navbar-nav">
        <% if logged_in? %>
        <li id="user"><%= link_to current_user.first_name, user_path(current_user) %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Collaborators", users_path %></li>
        <% if logged_in? %>
          <li><%=link_to "My Projects", posted_path %></li>
          <li><%=link_to "Favorited Projects", favorites_path %></li>


          <li><%= link_to ("Inbox #{new_messages}"), inbox_path %></li>
          <li><%= link_to "Sign Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Register", new_user_path %></li>
          <li><%= link_to "Sign In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= render partial: 'shared/flash_messages' %>

   <%= yield %>

 <footer>
   <div class="footer-box">
   <div class="col-md-2">
     <ul>
       <h4 class="custom-project-sort-button">About Us</h4>
       <li><%= link_to "Meet the Creators", creators_path %></li>
       <% if logged_in? %>
       <li><%= link_to "Contact Us", new_report_path %></li>
       <% end %>
       <br>
       <br>
     </ul>
   </div>

   <div class="col-md-3">
     <ul>
       <h4 class="custom-project-sort-button">Technologies</h4>
       <li><a href="">Ruby on Rails</a></li>
       <li><a href="">Private_pub</a></li>
       <li><a href="">Omniauth</a></li>
       <li><a href="">jQuery, Ajax, Bootstrap</a></li><br>
     </ul>
   </div>

   <div class="col-md-6">
     <ul>
       <li>Made with love and coffee for our Dev Bootcamp final project.</li>
       <li>We built MakeTogether from scratch in 6 days.</li><br>
       <li class="custom-project-sort-button"><a href="https://github.com/mindplace/make-together">View our code on Github.</a></li><br>
       <li>Copyright &#169; Esther Leytush, Samantha Holmes, Lisa Buch, Caitlin Hoffman 2016</li>
     <ul>
   </div>
 </div>
 </footer>
</body>
</html>
