<!DOCTYPE html>
<html>
<head>
  <title>MakeTogether</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="Site">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <%= yield %>

  <footer>
    <ul>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </footer>
</body>
</html>
